# This is a basic workflow takes care of building and deploying
# catalog when pushing to main branch

# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pages: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install json2yaml
          pip install eodash_catalog
      - name: Convert JSON to YAML
        run: |
          mkdir -p yaml_collections
          for file in collections/*.json; do
            json2yaml "$file" > "yaml_collections/$(basename "$file" .json).yaml"
          done
          mkdir -p yaml_indicators
          for file in indicators/*.json; do
            json2yaml "$file" > "yaml_indicators/$(basename "$file" .json).yaml"
          done
      - name: Build
        env:
          SH_INSTANCE_ID: ${{ secrets.SH_INSTANCE_ID }}
          SH_CLIENT_ID: ${{ secrets.SH_CLIENT_ID }}
          SH_CLIENT_SECRET: ${{ secrets.SH_CLIENT_SECRET }}
        run: eodash_catalog --catalog trilateral --collectionspath yaml_collections --indicatorspath yaml_indicators
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          force_orphan: true


